<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="background-image" >
          <img  src="images/social-media-marketing.jpg" width="1000" height="548" draggable="false">

          <div class="container-description">
            <div class="container" id="description">
              <div>
                <p>
              <span style="font-size:24px;line-height: 25px;font-family: 'Open Sans',sans-serif;font-weight: 300;">This application is designed to help political candidates to reach the voters and followers
                    By staying connected with their supporters through their campaign app,
                    candidates can reach out to the voters.</span>
              </p>
                </div>
              </div>
            </div>




		</div>
		<div>
		</div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
