<html>
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>

   <main>
     <!-- The form which is used to populate the item data -->
             <div class="form-content" >
                     <div class="jumbotron">
                        <form id="individualForm" method="post"  class="form-horizontal" >
                          <div class="row">
                            <div class="col-md-8 col-xs-10">
                              <div class="well panel panel-default">
                                <div class="panel-body">
                                  <div class="row">
                                    <div  class="col-xs-12 col-sm-4 text-center">
                                      <img id= "profile_pic" name= "profile_pic" src="images/default.png" alt="" class="center-block img-circle img-thumbnail img-responsive">
                                      <ul class="list-inline ratings text-center" title="Ratings">
                                        <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                        <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                        <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                        <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                        <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                      </ul>
                                    </div>
                                    <!--/col-->
                                    <div class="col-xs-12 col-lg-8">
                                      <span class="label label-info tags">html5</span>
                                        <span class="label label-info tags">css3</span>
                                        <span class="label label-info tags">jquery</span>
                                        <span class="label label-info tags">bootstrap3</span>
                                      </p>
                                    </div>
                                    <!--/col-->
                                    <div class="clearfix"></div>
                                    <div class="col-xs-12 col-sm-4">
                                      <h2><strong> 20,7K </strong></h2>
                                      <p><small>Followers</small></p>
                                      <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                                    </div>
                                    <!--/col-->
                                     <div class="col-xs-12 col-sm-4">
                                      <h2><strong>245</strong></h2>
                                      <p><small>Following</small></p>
                                      <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
                                    </div>
                                    <!--/col-->
                                    <div class="col-xs-12 col-sm-4">
                                      <h2><strong>43</strong></h2>
                                      <p><small>Snippets</small></p>
                                      <button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Options </button>
                                    </div>
                                    <!--/col-->
                                  </div>
                                  <!--/row-->
                                </div>
                                <!--/panel-body-->
                              </div>
                              <!--/panel-->
                            </div>
                            <!--/col-->
                          </div>
                           <div class="row">
                              <div>
                                 <span class="offset1 span2 label pull-right">
                                 <!-- <a id="edit" href="#" data-original-title="Edit this user" data-toggle="tooltip" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>-->
                                 <button id="close" type="btn-danger"  class="btn btn-sm btn-warning" type="closeButton"><i class="glyphicon glyphicon-remove"></i></button>
                                 <!-- <button id= "save" type="submit" style="display: none;" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-floppy-save"></i></button> -->
                                 </span>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>

</main>
<footer>
    <% include ../partials/footer %>
</footer>


</body>
</html>
